@charset "UTF-8";

@media all{

	#doc{

		font-family:Arial, Helvetica, sans-serif;
		font-size:12px;
	}

	#media-management{
		width:800px;
		min-height:800px;

	}
	
	
.inactive{
	background-color:#FF0000;
}

.active{
	background-color: #72C367;
}	
	
	

}

@media screen{
	/*Grund einstellungen*/
	
	h1 {
		/*18px via YUI Fonts CSS foundation*/
		font-size:138.5%;  
	}
	h2 {
		/*16px via YUI Fonts CSS foundation*/
		font-size:123.1%; 
	}
	h3 {
		/*14px via YUI Fonts CSS foundation*/
		font-size:108%;  
	}
	h1,h2,h3 {
		/* top & bottom margin based on font size */
		margin:0.25em 0;
	}

	strong {
		font-weight:bold;
		color:#000;
		}	


	h1,h2,h3,h4,h5,h6 {
		/*bringing boldness back to headers and the strong element*/
		font-weight:bold;
		color:#005193; 
	}

.yui-nav li a {
	color:#000000;
}

.acc_container {
       top: 50px;
       position: relative; 
       width: 450px;
       height: 600px;
            }

	
.sr {
	position: absolute;
	left: -9999em;
	top: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	}
.yui-content{
	margin:0;
	text-align:left;
}

#img-thema-content{
	display:inline-block;

}

#editor-response{

margin-bottom: 1em;
padding: 2px;
display:inline-block;

}

/*  LU Search User"  */
.LuUser .bd > .UserInfo{ font-size:0.75em;}

#AutoCompleteLinkId {

padding:5px;

}
/*##################################################################*/
/*######################        Editor      ########################*/
/*##################################################################*/

#yahooEditor{

   width: 740px;

}
/*##################################################################*/
/*######################       Uploader     ########################*/
/*##################################################################*/

#filelist {
      margin-top: 15px;
   }

#uploadFilesButtonContainer, #selectFilesButtonContainer, #overallProgress {
      display: inline-block;
   }

#overallProgress {
      text-align:right;
      width:100%;

      
   }

#filenames  .yellowBackground {
      background: #F2E699;
   }
   
 

#filenames caption, #filenames th { text-align: left; }

#filenames{
    border-collapse: collapse;
	 width: 100%;


}

#filenames td, #filenames th {
    border: 1px solid #fff;
    padding: 5px 12px;
    vertical-align: top;
}

#filenames td { background: #E6E9F5; }
#filenames td dl { margin: 0; }
#filenames td dl dl { margin: 1em 0; }
#filenames td pre:first-child { margin-top: 0; }

#filenames th {
    background: #D2D7E6;/*#97A0BF*/
    border-bottom: none;
    border-top: none;
    color: #000;/*#FFF1D5*/
    font-weight: bold;
    line-height: 1.3;
    white-space: nowrap;
}


#uploaderContainer{
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 0 0 5px #bfbfbf;
    -webkit-box-shadow: 0 0 5px #bfbfbf;
    box-shadow: 0 0 5px #bfbfbf;
    padding: 1em;
    border: 1px solid #dfdfdf\9; /* IE6-8 only */
}




   
   
   
   


/*##################################################################*/
/*######################        notify      ########################*/
/*##################################################################*/


.yui3-notify {
        display:block;
        color: #000000;
        position: absolute;
		  bottom:0;
        right: 5;
		  z-index:300;
      }
		
.yui3-notify .yui3-notify-content li  {
			background: rgba(115, 193, 103, 0.75);
			border-bottom:2px #62B200 solid;
			border-right:2px #62B200 solid;
			padding: 15px 25px 5px 15px;
			position:relative;
			list-style-type:none;
			display: list-item;


	}



.yui3-notify .yui3-notify-content .yui3-button {
   background: #d9d9d9 url('../img/icon-sprite.png') left top repeat-x;
	position:absolute;
	top: 5px;
	right: 0px;
	font-size: 9px;
	font-weight: bold;
	cursor:pointer;
	float:right;
	width:20px;
	height:20px;
	line-height:10px;
	text-align:center;
  background: none;
  border: none;
  padding:0;
}
.yui3-notify .yui3-button span {
	 padding-left: 18px;
    line-height: 16px;
    margin-top: -2px;
    display: block;
    text-shadow: 1px 1px #efefef;
    font-family: font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 16px;
    cursor: pointer;
}



.yui3-notify .yui3-icon { 
	background: transparent no-repeat; 
	background-image:url("../img/icon-sprite.png");
	background-position: 0px -2042px;
}

	.yui3-notify .yui3-notify-content .yui3-notify-message-error {
    border-color:rgba(230, 20, 20, .8);
}
.yui3-notify .yui3-notify-content .yui3-notify-message-alert {
    border-color:rgba(230, 180, 20, .8);
	 }


/*##################################################################*/
/*######################       overlay      ########################*/
/*##################################################################*/
	#edit_user_overlay { display: none; }


	 #edit_user_overlay {
				background: rgba(0, 0, 0, 0.5);
				border-radius: 6px;
				-moz-border-radius: 6px;
				-webkit-border-radius: 6px;
				padding: 10px;

			}



	#edit_user_overlay .yui3-widget-hd {
				color: #fff;
				padding: 0 10px;
				margin:0px;
    			border:1px solid #243356;
    			zoom:1;
				background-image: url(http://yui.yahooapis.com/2.8.1/build/assets/skins/sam/sprite.png);
				background-repeat-x: repeat;
				background-repeat-y: no-repeat;
				background-attachment: initial;
				background-position:0 -1400px;
				background-origin: initial;
				background-clip: initial;
				background-color: #2647A0;
				height:30px;
			}

			

			

	#edit_user_overlay .yui3-widget-bd {
			background: #fff;
			border: #555 1px solid;
			border-top: none;
			border-bottom : none;
			padding: 10px;
			text-align:left;

			}

			

	#edit_user_overlay .yui3-widget-ft {
			border: #555 1px solid;
			border-top: none;
			background: #f2f2f2;
			}

			

	#edit_user_overlay .yui3-widget-ft > div {
			border-top: #ccc 1px solid;
			padding: 5px 10px;
			text-align: right;
		}






	.yui3-widget-hd a{
		 background:url(http://yui.yahooapis.com/2.8.1/build/assets/skins/sam/sprite.png) no-repeat;
		 color:#abceff;
		 display: inline; /* prevent IE margin doubling */
		 float: right;
		 margin-top: 6px;
		 height:12px;
		 width:24px;
		 overflow:hidden;
		 text-align: right;
		 text-decoration:none;
		 text-indent:9999px;
	}

	

	.yui3-widget-hd	a#hideOverlay{
		background-position:0 -300px;
		height: 15px;
		width: 25px;
	}


.yui3-submit-button,
.yui3-submit-button-content, 
.yui3-reset-button,
.yui3-reset-button-content {
 display: inline ;
 
 
 }


/*  Jstree"  */

#jsbaum{
	min-width:200px;
}

#baum{
	background-color: transparent;
}



/*##################################################################*/
/*######################     remove user    ########################*/
/*##################################################################*/

.live-user{
   background:url(../img/admin/icon.skel.gif);
   background-position:bottom left;
   display:inline-block;
   width:16px;
   height:16px;
}


.live-user-hover{
   background:url(../img/admin/del.gif);
   background-position:bottom left;
   display:inline-block;
   width:16px;
   height:16px;

   
}

.toggle {
   cursor:pointer;

}
.toggle .rights {
   margin-bottom:0;
   margin-top:0;
   cursor:default;
}






@media print{





}