@media print {
   * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
   }
   
  #background,
  #logo, 
  .nav, 
  aside, 
  .githubfork,
  .content-nav{
      display:none;
  }
  #scrollview ul {
   list-style:none;
  }

  .full{
      background-color:#000;
      border:10px #000 solid !important;
      width:0px !important;
      height:1px !important;
  }
  
  .square{
      width:16px;
      height:16px;
      display:inline-block;
      border:2px #000 solid;
      margin:1px;
  }
 #breadcrumb ol li{
      display:inline-block;
      font-size:70%;
      /* For IE 7 */
      zoom: 1;
      margin:0;
   }

   #breadcrumb ol li:before {
      content: "\0020 \203A \0020";
      color: hsla(57,100%,18%, 0.5);
   }

   #breadcrumb ol li:first-child:before {
      content: " ";
   }

   #breadcrumb  li:first-child:before {
      content: "\0020 \203A \0020";
      color: hsla(57,100%,18%, 0.5);
   }  


}